<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <%= button_to("Logout", session_url, method: :delete) %>
  <% else %>
    <%= button_to("Log In", new_session_url, method: :get) %>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
