<%= @todolist.name %>
<%= @todolist.description %>

<%= link_to "Edit Todo List", edit_todo_list_url %>

<% @todolist.items.each do |item| %>
<%= item.body %>
<%= button_to "Remove Todo Item", todo_item_url(item), method: :delete %>
<% end %>

Add Todo Item
<%=  %>
<%=  %>
<%=  %>

<form class="" action="<%= todo_items_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <input type="hidden" name="todo_item[todo_list_id]" value="<%= @todolist.id  %>">

  <label for="">Todo
    <input type="text" name="todo_item[body]" value="">
  </label>

  <input type="submit" name="" value="Add Todo Item">

</form>
